@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/vazirmatn[wght].woff2');
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply rtl flex min-h-screen flex-col overflow-x-hidden bg-white text-right font-vazirmatn text-base text-zinc-700 antialiased dark:bg-zinc-950 dark:text-zinc-300;
  }

  a {
    @apply text-blue-600 hover:cursor-pointer hover:underline;
  }

  h1 {
    @apply text-2xl font-bold;
  }

  h1,
  h2,
  h3 {
    @apply text-zinc-950 dark:text-zinc-50;
  }

  ::selection {
    @apply text-shadow-none bg-[#daf2fd];
  }

  .dark *::selection {
    @apply text-shadow-none bg-zinc-800 text-zinc-50;
  }

  body > footer *::selection {
    @apply text-shadow-none bg-zinc-800;
  }
}

@layer components {
  .btn {
    @apply relative inline-block w-full rounded-xl border-0 px-8 py-4 align-middle font-medium no-underline outline-0 transition-colors duration-200 ease-in-out hover:cursor-pointer hover:no-underline sm:w-auto;
  }

  .btn-3d {
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
    @apply bg-zinc-950 text-zinc-50 before:absolute before:inset-0 before:h-full before:w-full before:rounded-[inherit] before:border-2 before:border-[inherit] before:bg-white before:content-[''] hover:translate-y-2 dark:before:bg-zinc-900;
  }

  .btn-3d::before {
    transform: translate3d(0, 0.5rem, -1rem);
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1);
  }

  .btn-3d:hover.btn-3d::before {
    transform: translate3d(0, 0, -1rem);
  }

  .arrow-left {
    @apply before:inline-block before:h-6 before:align-middle before:content-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMxODE4MWIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIxNSAxOCA5IDEyIDE1IDYiPjwvcG9seWxpbmU+PC9zdmc+Cg==')] dark:before:content-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmYWZhZmEiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cG9seWxpbmUgcG9pbnRzPSIxNSAxOCA5IDEyIDE1IDYiPjwvcG9seWxpbmU+PC9zdmc+Cg==')];
  }

  .d-menu-link {
    @apply relative text-zinc-500 transition-colors ease-in hover:text-zinc-950 hover:no-underline dark:text-zinc-400 dark:hover:text-zinc-50;
  }

  .d-menu-link.active {
    @apply text-zinc-950 after:absolute after:inset-x-1/2 after:-bottom-2 after:h-1 after:w-1 after:translate-x-1/2 after:rounded-full after:bg-zinc-950 after:content-[''] dark:text-zinc-50 dark:after:bg-zinc-50;
  }

  .external-link {
    @apply relative after:absolute after:right-8 after:h-full after:w-full after:bg-[url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiMyNTYzZWIiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cGF0aCBkPSJNMTggMTN2NmEyIDIgMCAwIDEtMiAySDVhMiAyIDAgMCAxLTItMlY4YTIgMiAwIDAgMSAyLTJoNiI+PC9wYXRoPjxwb2x5bGluZSBwb2ludHM9IjE1IDMgMjEgMyAyMSA5Ij48L3BvbHlsaW5lPjxsaW5lIHgxPSIxMCIgeTE9IjE0IiB4Mj0iMjEiIHkyPSIzIj48L2xpbmU+PC9zdmc+Cg==)] after:bg-no-repeat after:align-middle after:content-[''];
  }

  .show {
    @apply !flex;
  }

  #toggleMenu.show {
    @apply !rotate-90 !text-white;
  }

  .reading-progress {
    @apply fixed left-0 top-0 z-50 h-0.5 w-full appearance-none border-none bg-transparent;
  }

  .reading-progress::-webkit-progress-bar {
    @apply bg-transparent;
  }

  .reading-progress::-webkit-progress-value {
    @apply bg-[#107abe] shadow-[0_0_5px_#107abe];
  }

  .reading-progress::-moz-progress-bar {
    @apply bg-[#107abe] shadow-[0_0_5px_#107abe];
  }
}

@layer utilities {
  .rtl {
    direction: rtl;
  }

  .ltr {
    direction: ltr;
  }

  .text-shadow-none {
    text-shadow: none;
  }

  .bg-eye {
    @apply bg-[url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZmYiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48cGF0aCBkPSJNMSAxMnM0LTggMTEtOCAxMSA4IDExIDgtNCA4LTExIDgtMTEtOC0xMS04eiI+PC9wYXRoPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjMiPjwvY2lyY2xlPjwvc3ZnPgo=')] bg-no-repeat;
  }
}
