---
import MainLayout from '../layouts/MainLayout.astro';
import Counter from '../components/Counter';
---

<MainLayout title="Home">
	<h1 class="text-blue-600">Hello</h1>
	<Counter client:load />
</MainLayout>
