---
import { Content as Biography } from '../content/resume/biography.mdx';
import { Content as Exprience } from '../content/resume/exprience.mdx';
import { Content as Education } from '../content/resume/education.mdx';
import { Content as Skills } from '../content/resume/skills.mdx';
import { Content as Languages } from '../content/resume/languages.mdx';
import { Content as Favorites } from '../content/resume/favorites.mdx';
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title='پورتفلبو'>
  <section class='py-8' id='bioSection'>
    <h2 class='text-2xl font-bold pb-6 arrow-left'>بیوگرافی</h2>
    <p class='text-gray-700'>
      <Biography />
    </p>
  </section>
  <section class='py-8' id='expSection'>
    <h2 class='text-2xl font-bold pb-6 arrow-left'>سوابق شغلی</h2>
    <Exprience />
  </section>
  <section class='py-8' id='eduSection'>
    <h2 class='text-2xl font-bold pb-6 arrow-left'>سوابق تحصیلی</h2>
    <Education />
  </section>
  <section class='py-8' id='skillsSection'>
    <h2 class='text-2xl font-bold pb-6 arrow-left'>مهارت ها</h2>
    <ul class='gap-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3'>
      <Skills />
    </ul>
  </section>
  <section class='py-8' id='langSection'>
    <h2 class='text-2xl font-bold pb-6 arrow-left'>زبان ها</h2>
    <p class='text-gray-700'>
      <ul class='gap-6 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3'>
        <Languages />
      </ul>
    </p>
  </section>
  <section class='py-8' id='favSection'>
    <h2 class='text-2xl font-bold pb-6 arrow-left'>علاقه مندی ها</h2>
    <ul class='flex gap-2'>
      <Favorites />
    </ul>
  </section>
</MainLayout>


