<footer
  class='bg-zinc-950 text-zinc-50 mt-20 pb-12 space-y-16 mt-32 lg:w-full lg:max-w-5xl lg:mx-auto rounded-t-2xl mx-6 relative'>
  <div>
    <div
      class='absolute -top-12 inset-x-1/2 bg-white w-16 h-16 rotate-45 rounded-xl translate-x-1/2'>
    </div>
    <div
      class='absolute -top-10 inset-x-1/2 bg-white text-zinc-950 border-2 hover:bg-zinc-950 border-zinc-950 hover:text-white transition-colors ease-in-out hover:cursor-pointer w-12 h-12 rotate-45 flex justify-center items-center rounded-xl translate-x-1/2 m-0' title="Go to the top">
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='24'
        height='24'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='w-6 h-6 -rotate-45'
        ><polyline points='18 15 12 9 6 15'></polyline></svg
      >
    </div>
  </div>
  <div class='grid grid-cols-2 place-items-center'>
    <div>
      <h6 class='pb-2'>لینک های مفید</h6>
      <ul class='space-y-2'>
        <li><a href='#'> لینک ۱</a></li>
        <li><a href='#'> لینک ۲</a></li>
        <li><a href='#'> لینک ۳</a></li>
      </ul>
    </div>
    <div>
      <h6 class='pb-2'>راه های ارتباطی</h6>
      <ul class='space-y-2'>
        <li><a href='#'> لینک ۱</a></li>
        <li><a href='#'> لینک ۲</a></li>
        <li><a href='#'> لینک ۳</a></li>
      </ul>
    </div>
  </div>
  <p class='text-center text-sm'>
    این کار تحت مجوز زیر می باشد <a
      href='http://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1'
      target='_blank'
      rel='license noopener noreferrer'
      class='flex flex-row-reverse justify-center gap-x-2 pt-2'
      >CC BY-SA 4.0<img
        style='height:22px!important;margin-left:3px;vertical-align:text-bottom;'
        src='https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1'
      /><img
        style='height:22px!important;margin-left:3px;vertical-align:text-bottom;'
        src='https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1'
      /><img
        style='height:22px!important;margin-left:3px;vertical-align:text-bottom;'
        src='https://mirrors.creativecommons.org/presskit/icons/sa.svg?ref=chooser-v1'
      /></a
    >
  </p>
</footer>
