---
const {precent} = Astro.props;
---

  <li class="space-y-2">
    <p class="text-zinc-800">
      <slot />
    </p>
    <div class="ring-2 ring-zinc-950 block w-full h-2 rounded-sm">
      <div class="bg-zinc-950 w-1/2 h-2 rounded-l-sm"></div>
    </div>
  </li>