---
const { percent } = Astro.props;
---

<li class='space-y-2'>
  <p class='font-medium text-zinc-800 dark:text-zinc-200'>
    <slot />
  </p>
  <div
    class='block h-2 w-full rounded-sm ring-2 ring-zinc-950 dark:ring-zinc-50'>
    <div
      class='h-2 rounded-l-sm bg-zinc-950 dark:bg-zinc-50'
      style={`width: ${percent}%`}>
    </div>
  </div>
</li>
