---
import MainLayout from "../../layouts/MainLayout.astro";

export function getStaticPaths() {
  return [
    {params: {slug: 'clifford'}},
    {params: {slug: 'rover'}},
    {params: {slug: 'spot'}},
  ];
}

const { slug } = Astro.params;
---

<MainLayout>
  <p>This is the {slug}</p>
</MainLayout>